.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
miniquant_agent
miniquant_service

packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/*
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*
packages/niron/agents/*
packages/niron/connections/*
packages/niron/contracts/*
packages/niron/services/*
packages/niron/protocols/*
packages/niron/skills/*

!packages/niron/agents/miniquant_agent
!packages/niron/services/miniquant_service
!packages/niron/skills/collect_defillama_abci
!packages/niron/skills/llm_analysis_abci
!packages/niron/skills/miniquant_abci

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env
packages/valory/__init__.py
